* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Futura', sans-serif; 
    
}

.background-styling {
    background-color: #eae9e5;
    width: 1200px;
    padding-bottom: 60px;
    margin: 0 auto;
    font-size: 0;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Arial', sans-serif;
    text-transform: uppercase; 
    
}

.new-recipe-1,
.new-recipe-2,
.new-recipe-3 {
    text-align: center;
    font-size: 15px;
    background-color: white;
    height: 280px;
    width: 360px;
    display: inline-block;
    border: 0.5px solid black;

}

.new-recipe-1 {
    margin: 0 10px 0 20px;   
}

.new-recipe-2 {
    margin: 0 30px;
}

.new-recipe-3 {
    margin: 0 20px 0 10px;

}

.new-recipes-title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

.recipe-title {
    text-align: center;
    padding: 5px 0px 10px 0px; 
    color: black;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.new-recipes {
    height: 380px;
    border-top: 1px solid black;
}

h2.all-recipes-title {
    text-align: center;
    margin: 20px 0 40px 0;

}

.all-recipes.starters-block,
.all-recipes.mains-block,
.all-recipes.desserts-block {
    display: inline-block;
    width: 360px;
}

.starters-block {
    margin: 0 10px 0 20px;
}

.mains-block {
    margin: 0 30px;
}

.desserts-block {
    margin: 0 20px 0 10px;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 0.5px solid black;
}

.all-recipes li {
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 4;
}

.background-styling.recipe-card {
    border: 1px solid black;
}

.recipe-card-image {
    display: block;
    margin: 20px auto;
    height: 300px;
}

.recipe-card-description {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.recipe-card-ingredients, 
.recipe-card-instructions,
.recipe-card-notes {
    text-align: center;
}

.recipe-card-instructions ol {
    width: 600px;
    text-align: left;
    margin: 0 auto;
    padding-left: 40px;
}
.recipe-card-ingredients li,
.recipe-card-notes li {
    font-size: 15px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    list-style: none;
}

.recipe-card-instructions li {
    font-size: 15px;
}

.recipe-card h2 {
    border-bottom: 0.5px solid black;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer {
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}





